{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * rowstyle plugin for Craft CMS
 *
 * Rowstyle Field Settings
 *
 * @author    Ronald van Eede
 * @copyright Copyright (c) 2018 Ronald van Eede
 * @link      ronaldvaneede.me
 * @package   Rowstyle
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("demindo\\rowstyle\\assetbundles\\rowstyle\\RowstyleAsset") %}

{#
{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
#}