{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * rowstyle plugin for Craft CMS 3.x
 *
 * Rowstyle Field Input
 *
 * @author    Ronald van Eede
 * @copyright Copyright (c) 2018 Ronald van Eede
 * @link      ronaldvaneede.me
 * @package   Rowstyle
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{{ forms.select({
        label: 'Row style',
        instructions: 'Choose a row style.',
        id: name,
        name: name,
        options: {
           ''                                    : 'White',
           'content-row-color'                   : 'Blue',
           'content-row-color content-row-clouds': 'Blue with clouds',
           'content-row-gray'                    : 'Gray',
           'content-row-gray content-row-clouds' : 'Gray with clouds'
        },
        value: value})
}}
